# Build folders
build/
cmake-build-*/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build.ninja
.ninja_*

# Qt
*.qmlc
*.jsc
*.pro.user
*.autosave
*.user
.qmake.stash
.moc
.rcc
.uic
CPU_Scheduling_autogen/

# Qt Creator
.qt/
.qtc/
.qtc_clangd/

# Executables & binaries
*.exe
*.dll
*.so
*.dylib

# OS
.DS_Store
Thumbs.db
